<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>753006925836-0kmh4c7ktrn1qdvg4u2p6i8dt9nu62e4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.753006925836-0kmh4c7ktrn1qdvg4u2p6i8dt9nu62e4</string>
	<key>API_KEY</key>
	<string>AIzaSyDmOuRBs6oSQqjolqHAAU79DqAsy5h1Nkg</string>
	<key>GCM_SENDER_ID</key>
	<string>753006925836</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.litech.SampleFirebase</string>
	<key>PROJECT_ID</key>
	<string>sampledrud</string>
	<key>STORAGE_BUCKET</key>
	<string>sampledrud.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:753006925836:ios:ddf18c1a35d0d0a0</string>
	<key>DATABASE_URL</key>
	<string>https://sampledrud.firebaseio.com</string>
</dict>
</plist>